
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
}

<style>

    .profaessional {
        margin-top: 0px !important;
    }

    .b-back {
        background: rgba(8, 45, 64, 0.65);
        margin: 0px 0px !important;
    }


    
    h1 {
        font-size: 85px;
        font-weight: 800;
        line-height: 91px;
        letter-spacing: -2px;
        font-family: 'Montserrat', sans-serif;
        /* background: linear-gradient(-40deg, #db9b1e 0%, #C0D4C9 100%); */
        background-clip: text;
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2 {
        font-size: 52px;
        font-weight: 700;
        line-height: 57px;
        letter-spacing: -2px;
        font-family: 'Montserrat', sans-serif;
        background: white;
        background-clip: text;
        -webkit-background-clip: text;
        /* background: white; */
        -webkit-text-fill-color: transparent;
    }
    .txtblack h2{
        background-color: black !important;
    }
    .textblack h1,
    .textblack h5,
    .textblack h4,
    .textblack p {
        background-color: transparent;
        color: black !important; /* Optional */
    }

    .imgstr {
        max-width: max-content !important;
        
    }
    .behind img {
        
         border-radius: 0px; 
    }
    .fin-card figure {
        background: linear-gradient(rgb(51 127 220), rgb(180 205 72));
        padding: 20px 10px;
        -webkit-text-fill-color: transparent;
        width: 118px;
        height: 100px;
        display: block;
        margin: auto;
        border-radius: 15px;
    }

        .fin-card figure img[alt='praph'] {
            width: 55px;
        }
    .fin-card h4 {
        padding: 20px 0px;
        color: #E4E4E4;
    }

    .fin-card p {
        padding:  0px;
        
    }
    .about-banner {
       
        background: url('assets/images/bg/about-banner.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 25px;
        margin: 0px auto;
        
    }
</style>



<section>
    <div class="about-hero container">
        <h1 class="text-center">About US</h1>
        <p class="text-center about-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
            laborum quibusdam consequatur.
        </p>
        <div class="services  pb-lg-4 pb-md-2 pb-sm-0 pb-0 mb-lg-2 mb-md-1 mb-sm-0 mb-0">
            <div class="container">
                <div class="row gap-md-0 gap-sm-4 gap-4">
                    <div class="col-lg-6 col-md-6 " data-aos="fade-up">
                        <h2 class="text-lg-start text-md-start text-sm-center text-center">
                            FINANCIAL GOALS
                            ARE OUR PRIORITY
                        </h2>
                        <p class="text-lg-start text-md-start text-sm-center text-center mt-lg-4 mt-md-2 mt-sm-2 mt-2 pb-4 ">
                            Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Odio possimus quo ducimus
                            suscipit
                            officiis natus impedit et deleniti omnis, sint, facere aliquam asperiores
                            dolores
                            .
                        </p>
                        <p class="text-lg-start text-md-start text-sm-center text-center pb-4 ">
                            Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Odio possimus quo ducimus
                            suscipit
                            officiis natus impedit et deleniti omnis, sint, facere aliquam asperiores
                            dolores
                            .
                        </p>

                        <div class="serives-btn justify-content-md-start justify-content-ms-center justify-content-center d-flex pt-lg-4 pt-md-2 pt-sm-2 pt-2">
                            <a class="btn-hover1" href="#">Get The Card</a>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center abt " data-aos="fade-down">
                        <div class="position-relative">
                           
                            <figure class="abut-hero-img1"><img src="~/assets/images/about/lady-mobile.png" alt="img"></figure>
                            <figure class="abut-hero-img2"><img src="~/assets/images/icon/whitStar.png" alt="img"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>


<section class="bg2 sp text-dark">
    <div class="container text-center textblack txtblack">
        <h2 class="text-dark">Our Core Values</h2>
        aspernatur nulla. Ipsa architecto, cupiditate deleniti maiores aut nostrum alias ullam esse
        eligendi
        corrupti. Odit natus illum fuga?</P>
        <div class="finanes-card row gap-md-0 gap-sm-4 gap-4 mt-5">
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/retail.png" alt="praph"></figure>
                    <h4>Client First</h4>
                    <p class="p-f-s">
                        Going an extra mile to support our customer in achieving there goals
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card" data-aos="flip-up">
                    <figure> <img src="~/assets/images/icon/wholesale.png" alt="doller"></figure>
                    <h4>Value of Words</h4>
                    <p class="p-f-s">
                        Commitment with anyone is our superior priority
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                <div class="fin-card" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/manufacture.png" alt="arow"></figure>
                    <h4>Under Commit Over Deliver</h4>
                    <p class="p-f-s">
                        Focusing in client success instead of just selling
                    </p>
                </div>
            </div>
        </div>

        <div class="finanes-card row gap-md-0 gap-sm-4 gap-4 mt-5 d-flex justify-content-center">
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/retail.png" alt="praph"></figure>
                    <h4>Humanity in Relationships</h4>
                    <p class="p-f-s">
                        Respecting human inner feelings inner feelings
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card" data-aos="flip-up">
                    <figure> <img src="~/assets/images/icon/wholesale.png" alt="doller"></figure>
                    <h4>Continuous Leaning</h4>
                    <p class="p-f-s">
                        Focus on the improvment of technical as well as cognitive skills
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section>




<div class="ispsum-logo ">
    <div class="container">
        <div class="logo_ispsum_slider">
            <a href="#">
                <figure><img src="~/assets/images/client/client-1.webp" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/client/client-2.webp" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/client/client-3.webp" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/client/client-4.webp" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/client/client-5.webp" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/client/client-6.webp" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/client/client-7.webp" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/client/client-8.webp" alt="img"></figure>
            </a>
        </div>
    </div>
</div>
<section class="bg2 behind">
    <div class="container about-banner " data-aos="zoom-in">
        <div class="d-flex justify-content-lg-end justify-content-md-end justify-content-ms-center justify-content-center">
            <div class="banner-text">
                <h3 class="text-md-start text-sm-center text-center">
                    Replacing complexity <br> with
                    simplicity
                </h3>
                <p class="text-md-start text-sm-center text-center p-f-s">
                    Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit. Iusto doloribus adipisci facere voluptatum, suscipit deserunt,
                    cupiditate
                    facilis impedit assumenda saepe, in vitae labore molestias.
                </p>
                <div class="visa-btn text-sm-center text-md-start text-center">
                    <a class="btn-hover1" href="#">Get The Card</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gateway bg2 behind ">
    <div class="container textblack txtblack">
        <div class="row gap-lg-0 gap-md-0 gap-sm-4 gap-4">
            <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center " data-aos="fade-up">
                <div class=" gateway-bg-img mt-5 ">
                    <figure><img src="~/assets/images/index/gateway-1.png" alt="gate_img1" class="moving"></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-md-start text-sm-center text-center " data-aos="fade-down">
                <h2>We value Our Customer</h2>
                <p class="pt-lg-4 pt-md-3 pt-sm-2 pt-2 pb-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.
                    Perferendis iure eius autem
                    beatae
                    mollitia quasi, neque magni excepturi velit ullam sunt eos minima.
                </p>
                <div class="gate mt-md-3 mt-sm-0 mt-4   d-flex flex-md-row flex-sm-column flex-column align-items-center">
                    <figure class="d-flex align-items-center "><img class="imgstr" src="~/assets/images/icon/gate-icon1.png" alt="gate-img1"></figure>
                    <div class="ms-lg-3 ms-md-3 ms-sm-0 ms-0">
                        <h5 class="pb-2" style="font-size: 22px;">Create Account</h5>
                        <p class="p-f-s" style="padding: 0px;">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia illum
                            corporis
                            voluptatibus nihil? Facilis, sunt.
                        </p>
                    </div>
                </div>
                <div class="gate d-flex mt-4  flex-md-row flex-sm-column flex-column align-items-center">
                    <figure class="d-flex align-items-center "><img class="imgstr" src="~/assets/images/icon/gate-icon2.png" alt="gate-img2"></figure>
                    <div class="ms-lg-3 ms-md-3 ms-sm-0 ms-0">
                        <h5 class="pb-2" style="font-size: 22px;">User Configuration</h5>
                        <p class="p-f-s" style="padding: 0px;">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia illum
                            corporis
                            voluptatibus nihil? Facilis, sunt.
                        </p>
                    </div>
                </div>
                <div class="gate d-flex mt-4  flex-md-row flex-sm-column flex-column align-items-center">
                    <figure class="d-flex align-items-center "><img class="imgstr" src="~/assets/images/icon/gate-icon3.png" alt="gate-img3"></figure>
                    <div class="ms-lg-3 ms-md-3 ms-sm-0 ms-0">
                        <h5 class="pb-2" style="font-size: 22px;">Enjoy Full Access</h5>
                        <p class="p-f-s" style="padding: 0px;">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia illum
                            corporis
                            voluptatibus nihil? Facilis, sunt.
                        </p>
                    </div>
                </div>
                <div class="gate-link text-lg-start text-md-start text-sm-center text-center">
                    <a class="btn" href="#">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="round-word">
    <div class="container">
        <div class="row gap-lg-0 gap-md-0 gap-sm-4 gap-4">
            <div class="col-lg-6 col-md-6 d-flex align-items-lg-start align-items-md-start align-items-ms-center align-items-center justify-content-center flex-column txtblack " data-aos="fade-up">
                <h2 class="text-lg-start text-md-start text-sm-center text-center">WE ARE ROUND THE WORLD</h2>
                <p class="text-lg-start text-md-start text-sm-center text-center">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique ea asperiores, iusto
                    repellendus explicabo fuga quisquam.
                </p>
                <div class="d-flex gap-3">
                    <div class="sticker">
                        <div class="d-flex">
                            <h3 class="count">100</h3>
                            <h3>K+</h3>
                        </div> <span>Active User</span>
                    </div>
                    <div class="sticker st-bg">
                        <div class="d-flex">
                            <h3 class="count">400</h3>
                            <h3>K+</h3>
                        </div> <span>App Dwonload</span>
                    </div>
                </div>
                <div class="d-flex gap-3">
                    <div class="sticker st-bg">
                        <div class="d-flex">
                            <h3 class="count">90</h3>
                            <h3>%</h3>
                        </div> <span>Satisfied user</span>
                    </div>
                    <div class="sticker">
                        <div class="d-flex">
                            <h3 class="count">200</h3>
                            <h3>+</h3>
                        </div> <span>Partners Joined</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center " data-aos="fade-down">
                <figure><img src ="~/assets/images/index/home5.jpg" alt="img"></figure>
            </div>
        </div>
    </div>
</section>

<section class="behind b-back">
    <div class="container">
        <h2 class="text-center">HOW'S People tell BEHIND</h2>
        <p class="b-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nam recusandae vel! thanks</p>
        <div class="row gap-md-0 gap-sm-4 gap-4 mt-3">
            <div class="col-lg-6 col-md-6 d-flex " data-aos="flip-up">
                <div><img src="~/assets/images/about/behind2.jpg" alt="img"></div>
                <div class="ps-4">
                    <h4>Pamela Brown</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore voluptate aut?</p>
                    <div class="social-icon d-flex gap-2 justify-content-md-start justify-content-sm-center justify-content-center">
                        <a href="#"> <i class="fa-brands fa-facebook-f foot-facebook"></i></a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex " data-aos="flip-up">
                <div>
                    <figure><img src="~/assets/images/about/behind.jpg" alt="img"></figure>
                </div>
                <div class="ps-4">
                    <h4>Emma White</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore voluptate aut?</p>
                    <div class="social-icon d-flex gap-2 justify-content-md-start justify-content-sm-center justify-content-center">
                        <a href="#"> <i class="fa-brands fa-facebook-f foot-facebook"></i></a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="profaessional bg1 sp">
    <div class="container">
        <h2 class="text-center text-white">Trusted By Professionals</h2>
        <P class="text-center pt-3 pb-5 mb-2 text-white">
            Lorem ipsum dolor sit, amet consectetur adipisicing
            elit.
            Sapiente
            vel
            asperiores vero repudiandae neque! Ut suscipit neque eligendi alias vero repellat enim
            corporis
            incidunt, ex, natus qui quia nulla sint.
        </P>
        <div class="prof-size" data-aos="zoom-in-up">
            <div class="prof-slider ">
                <div class="prof-slide position-relative">
                    <div>
                        <div class="d-flex  align-items-center justify-content-center">
                            <img src="~/assets/images/slider/profacitional.webp" alt="img" class="prof-img-2">
                        </div>
                        <div>
                            <img src="~/assets/images/slider/Comma.png" alt="img" class="prof-img-1">
                        </div>
                        <p class="text-center">
                            zOrder has helped our organization by providing much clear
                            picture of sales & stock movement on regular or periodic basis. The result was
                            highly appreciated since they fulfilled our expectations in terms of data accuracy.
                        </p>
                        <div class="prof-star pt-2 pb-2 text-center">
                            <span class="stars text-lg-start">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                        <h5 class="text-center pt-2 pb-5">Rajiv Sethi</h5>
                    </div>
                </div>
                <div class="prof-slide position-relative">
                    <div>
                        <div class="d-flex  align-items-center justify-content-center">
                            <img src="~/assets/images/slider/profacitional3.webp" alt="img" class="prof-img-2">
                        </div>
                        <div>
                            <img src="~/assets/images/slider/Comma.png" alt="img" class="prof-img-1">
                        </div>
                        <p class="text-center">
                            zOrder Enterpriser has such a powerful foundation that it
                            can easily be adapted to different contexts and requirements. It is simple to build
                            on, with features that are simple to expand and customize, and efficient to run your
                            business.
                        </p>
                        <div class="prof-star pt-2 pb-2 text-center">
                            <span class="stars text-lg-start">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                        <h5 class="text-center pt-2 pb-5">Mandeep Singh</h5>
                    </div>
                </div>
                <div class="prof-slide position-relative">
                    <div>
                        <div class="d-flex  align-items-center justify-content-center">
                            <img src="~/assets/images/slider/profacitional2.webp" alt="img" class="prof-img-2">
                        </div>
                        <div>
                            <img src="~/assets/images/slider/Comma.png" alt="img" class="prof-img-1">
                        </div>
                        <p class="text-center">
                            We believe in technology since our inception, we were in
                            the search of a software company who can take our ideas to the ground and implement
                            the same into our business. We find zOrderERP very capable to accomplish the same.
                        </p>
                        <div class="prof-star pt-2 pb-2 text-center">
                            <span class="stars text-lg-start">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                        <h5 class="text-center pt-2 pb-5">Mr. Yatin Jain</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>