
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .news-cards {
        margin-top: 0px;
    }

   
  @@media screen and (min-width: 1920px) {
    h2 {
        font-size: 54px;
        line-height: 60px;
    }
}

    h1, h2, h3, h4, h5, h6 {
       
        color: white;
    }
    .card-viewer span {
        font-size: 14px;
        background: #c9f31d;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .card-viewer i {
        font-size: 15px;
        background: #c9f31d;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .dotted-line {
        border-top: 2px dotted #c9f31d;
    }

    .footer-search {
        width: 50%;
        background-color: rgba(255, 255, 255, 1);
        padding: 5px;
        margin-bottom: 80px;
        border-radius: 35px;
    }
</style>

<section class="news-cards  sp" >
    <div class="container">
        <h2 class="text-center news-h2">OUR LATEST NEWS &amp; EVENTS</h2>
        <p class="text-center news-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eum
            vitae voluptatibus ad laudantium culpa consequatur aperiam nulla.
        </p>
        <div class="row d-flex gap-md-0 gap-sm-5 gap-4 mb-5">
            <div class="col-lg-4 col-md-4 d-flex " data-aos="flip-right">
                <div class="card news-card-back">
                    <img src="assets/images/blog/blog-card3.jpg" alt="card-img">
                    <div class="card-body">
                        <a href="#">
                            <h5>Choosing a Payment Gateway: Key Factors to Consider</h5>
                        </a>
                        <p class="card-text p-f-s">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Voluptates magni veniam officia?.
                        </p>
                    </div>
                    <hr class="dotted-line">
                    <div class="card-viewer d-flex justify-content-between ">
                        <div>
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>2023/06/12</span>
                        </div>
                        <div>
                            <i class="fa-regular fa-message"></i>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="news-link">
                        <a class="btn btn-hover-white" href="#">Read More</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex " data-aos="flip-right">
                <div class="card news-card-back">
                    <img src="assets/images/blog/news-2.png" alt="image">
                    <div class="card-body">
                        <a href="#">
                            <h5>Top Strategies to do Successful Online Business</h5>
                        </a>
                        <p class="card-text p-f-s">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Molestias aperiam doloribus totam.
                        </p>
                    </div>
                    <hr class="dotted-line">
                    <div class="card-viewer d-flex justify-content-between ">
                        <div>
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>2023/06/12</span>
                        </div>
                        <div>
                            <i class="fa-regular fa-message"></i>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="card-color">
                        <a class="btn btn-hover-white" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex " data-aos="flip-right">
                <div class="card news-card-back">
                    <img src="assets/images/blog/news-3.png" alt="image">
                    <div class="card-body">
                        <a href="#">
                            <h5>The Benefits of Microfinancing for Small Business</h5>
                        </a>
                        <p class="card-text p-f-s">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tenetur, error impedit.
                        </p>
                    </div>
                    <hr class="dotted-line">
                    <div class="card-viewer d-flex justify-content-between ">
                        <div>

                            <i class="fa-solid fa-calendar-days"></i>
                            <span>2023/06/12</span>
                        </div>
                        <div>
                            <i class="fa-regular fa-message"></i>
                            <span>0</span>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-hover-white" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex gap-md-0 gap-sm-5 gap-4">
            <div class="col-lg-4 col-md-4 d-flex " data-aos="flip-right">
                <div class="card news-card-back">
                    <img src="assets/images/blog/blog-card.jpg" alt="card-img">
                    <div class="card-body">
                        <a href="#">
                            <h5>Payment Gateway Fees: What You Need to Know</h5>
                        </a>
                        <p class="card-text p-f-s">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Voluptates magni veniam officia?.
                        </p>
                    </div>
                    <hr class="dotted-line">
                    <div class="card-viewer d-flex justify-content-between ">
                        <div>
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>2023/06/12</span>
                        </div>
                        <div>
                            <i class="fa-regular fa-message"></i>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="news-link">
                        <a class="btn btn-hover-white" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex " data-aos="flip-right">
                <div class="card news-card-back">
                    <img src="assets/images/blog/blog-card2.png" alt="image">
                    <div class="card-body">
                        <a href="#">
                            <h5>Top Strategies to do Successful Online Business</h5>
                        </a>
                        <p class="card-text p-f-s">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Molestias aperiam doloribus totam.
                        </p>
                    </div>
                    <hr class="dotted-line">
                    <div class="card-viewer d-flex justify-content-between ">
                        <div>
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>2023/06/12</span>
                        </div>
                        <div>
                            <i class="fa-regular fa-message"></i>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="card-color">
                        <a class="btn btn-hover-white" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex " data-aos="flip-right">
                <div class="card news-card-back">
                    <img src="assets/images/blog/news-1.png" alt="image">
                    <div class="card-body">
                        <a href="#">
                            <h5>Choosing a Payment Gateway: Key Factors to Consider</h5>
                        </a>
                        <p class="card-text p-f-s">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tenetur, error impedit.
                        </p>
                    </div>
                    <hr class="dotted-line">
                    <div class="card-viewer d-flex justify-content-between ">
                        <div>

                            <i class="fa-solid fa-calendar-days"></i>
                            <span>2023/06/12</span>
                        </div>
                        <div>
                            <i class="fa-regular fa-message"></i>
                            <span>0</span>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-hover-white" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>


<div class="container mt-5">
    <h4 class="text-center">SUBSCRIBE OUR NEWSLETTER</h4>
    <p class="text-center pt-2 pb-3" style="color: #E4E4E4;">Get latest News and Updates</p>
    <form class="d-flex align-items-center justify-content-center" id="footer-sub2">
        <!-- form Subscribe massage -->
        <div id="Succes-box2"></div>
        <div class="d-flex footer-search ">
            <input type="email" name="search" placeholder="Enter your Email" required="">
            <a class="btn btn-hover-white" href="#">Subscribe</a>

        </div>
    </form>



</div>
</div>
